<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Website</title>
    </head>

    <body>
        {{> header}}    <!-- Partial -->
        <p>{{screamIt message}}</p>
        
        {{> footer}}    <!-- Partial -->
    </body>
</html>